mixin head()

	meta(charset="UTF-8")
	title Senior Code

	link(
		rel='stylesheet'
		type='text/css'
		href='css/main.css'
	)

	link(
		rel='stylesheet'
		type='text/css'
		href='vendor/bootstrap/bootstrap.css'
	)

	link(
		rel='stylesheet'
		type='text/css'
		href='vendor/materialize/css/materialize.min.css'
	)